
body{
	margin: 0px;
	padding: 0px;

}
	.navbar{
		margin: 0px;
		padding: 0px;
	}
	.navbar .container-fluid{
		background: #a1a1a1;
		width: 100%;

		
	}
	.navbar-nav .nav-item .nav-link{
		color: #fff;
		font-family: 'Roboto';
	}
	.navbar .container-fluid{
		background: #a1a1a1;
		width: 100%;
		
			
	}
	.navbar-brand{
		position: relative;
		float: left;
	}
	.container{
		width: 100%;
		height: 1000px;
		border: 1px solid red;
	}
	.container-fluid .btn{
		border-radius: 20px;

	}


@media (max-width: 992px){
	.navbar-nav li{
		padding-left: 0px;

	}
	
	
}

}
@media (max-width: 768px){

	
}
@media (max-width: 576px){


	

	

}




	





